<a href="https://www.python.org/"><img src="https://github.com/JhunBrian/ICT-111/blob/main/figures/py_logo.png?raw=true" width=90 style="float: left"></a>

# Python Data Types

</br></br></br>
Instructor: Jhun Brian M. Andam \
Institution: University of Science and Technology of Southern Philippines

- https://www.w3schools.com/python/default.asp
- https://classroom.google.com/c/NTI5MjU4NTY4NTIy/p/NTI5MjU5NDY1MTUz/details

### Observe

In [1]:
print("I am Brian, and I'm", 22, "Years young")

I am Brian, and I'm 22 Years young

From the code above, it's apparent that we did not use any variables, but rather than just sole values. And these values have their own `data types`.

We already know that a `variable` is anything (there are actually proper ways and conventions fo creating a variable) that is being assigned by something. Now what is the `value` then?

From our previous examples, the variables were assigned with `integers`, `strings` (i.e., names, words, sentences), and `functions`. These integers and strings are called datatypes, if solely executed, they won't make an interpreter throw an error.

### Built-in Python Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

<table>
    <thead>
        <tr>
            <td>Type</td>
            <td>Data Types</td>
        </tr>
    </thead>
    <tr>
        <td>Text Type</td>
        <td>str</td>
    </tr>
    <tr>
        <td>Numeric Types</td>
        <td>int, float, complex</td>
    </tr>
    <tr>
        <td>Sequence Types</td>
        <td>list, tuple, range</td>
    </tr>
    <tr>
        <td>Mapping Type</td>
        <td>dict</td>
    </tr>
    <tr>
        <td>Set Types</td>
        <td>set, frozenset</td>
    </tr>
    <tr>
        <td>Boolean Type</td>
        <td>bool</td>
    </tr>
    <tr>
        <td>Binary Types</td>
        <td>bytes, bytearray, memoryview</td>
    </tr>
    <tr>
        <td>None Type</td>
        <td>NoneType</td>
    </tr>
</table>

### Setting the Data Type

`type()` is a built-in python function that returns the data type of a particular variable or value.

In [35]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [36]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [37]:
x = 20.7
print(x)
print(type(x))

20.7
<class 'float'>

In [38]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [39]:
x = [1, 2, 3, 4, 5]
print(x)
print(type(x))

[1, 2, 3, 4, 5]
<class 'list'>

In [40]:
x = (1, 2, 3, 4, 5)
print(x)
print(type(x))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [41]:
x = range(1, 10)
print(x)
print(type(x))

range(1, 10)
<class 'range'>

In [42]:
x = {'a':1, 'b':2, 'c':3}
print(x)
print(type(x))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [43]:
x = {1, 2, 3, 4, 5}
print(x)
print(type(x))

{1, 2, 3, 4, 5}
<class 'set'>

In [44]:
x = frozenset({1, 2, 3, 4, 5})
print(x)
print(type(x))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [45]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [46]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [47]:
x = bytearray(3)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00')
<class 'bytearray'>

In [48]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x000001BDC7719E80>
<class 'memoryview'>

In [49]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

### Exercise: 

1. Create variables with a value that represents all the primitive data types.